[SddmGreeterTheme]
Name=Sddm_wynn
Description=A theme for m_wynn
Screenshot=screenshot.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=m_wynn
Theme-API=2.0
